.btn-google {
    background-color: #fff;
    color: #757575;
}

.btn-apple {
    background-color: hsl(0, 11%, 93%);
    color: #fff;
}
/*** login Start ***/
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('./leaves.webp') no-repeat center center fixed; 
    background-size: cover;
    color: #87A922;
}

.auth-wrapper {
    width: 100%;
    max-width: 400px;
    background: none; /* Adjust background color if necessary */
    padding: 20px;
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 5px 15px #416D19; /* Shadow for 3D effect */
    border: 2px solid #416D19; /* Dark green border */
}


.auth-content {
    padding: 20px;
}

.form-group {
    margin-bottom: 1.5rem;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #87A922;
    border-radius: 4px;
    box-sizing: border-box;
    color: #416D19;
    background: rgba(255, 255, 255, 0.9);
}

.btn-primary {
    color: #1A4D2E;  /* Dark green text color when not hovering */
    background-color: #cae187;  /* Light lime green background color */
    border-color:2px solid #87A922;  /* Border color matches the background */
    border-radius: 4px;  /* Rounded corners for a modern look */
    padding: 10px;  /* Padding for better text alignment and size */
    width: 100%;  /* Button width to fill the container */
    cursor: pointer;  /* Cursor changes to pointer to indicate it's clickable */
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;  /* Smooth transition for hover effects */
}

.btn-primary:hover {
    color: white;  /* Text color changes to white on hover */
    background-color: #87A922;  /* Background color changes to darker green on hover */
    border-color: #87A922;  /* Border color changes to match the background on hover */
}




a {
    color: #87A922;
}

a:hover {
    text-decoration: none;
}
/*** signuo Start ***/
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('./leaves.webp') no-repeat center center fixed; 
    background-size: cover;
    color: #87A922;
}

.auth-wrapper {
    width: 100%;
    max-width: 400px;
    background: #607b3e;
    box-shadow: 0 5px 15px rgba(0,0,0,.1);
    border-radius: 8px;
    padding: 20px;
}

.auth-content {
    padding: 20px;
    background: #ffffff;
    border-radius: 5px;
}

.form-group {
    margin-bottom: 1.5rem;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.toggle-switch {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

input[type="radio"] {
    display: none;
}

input[type="radio"] + label {
    padding: 10px 20px;
    border: 1px solid #416D19;
    border-radius: 20px;
    cursor: pointer;
}

input[type="radio"]:checked + label {
    background-color: #90D26D;
    color: #ecf1ea;
    border-color: #90D26D;
}

.btn-primary {
    color: #416D19;
    background-color: #90D26D;
    border-color: #90D26D;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #90D26D;
}

a {
    color: #90D26D;
}

a:hover {
    text-decoration: none;
}




